# Python cache
__pycache__/
*.py[cod]
*$py.class

.pip_cache

# Virtual environments
venv/
env/
.venv/

# Environment variables / secrets
.env

# IDE settings
.vscode/
.idea/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Build files
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db